<h2>Credits</h2>
<ul>
  <li>https://leaverou.github.io/css3patterns/#weave</li>
  <li>https://pixabay.com/photos/knight-warrior-horse-soldier-war-2565957/</li>
  <li>https://material.io/resources/icons/</li>
  <li>https://unsplash.com/photos/eAAR-0iDhic</li>
  <li>https://unsplash.com/photos/GXOU59djQU0</li>
  <li>https://pixabay.com/photos/sword-armor-weapon-medieval-knight-2140940/</li>
  <li>https://pixabay.com/photos/viking-helmet-history-medieval-2379960/</li>
</ul>

<p>A warrior is one who</p>
<ul>
  <li>understands, values and possess honour</li>
  <li>recognizes that her/his abilities carry with them a responsibility</li>
  <li>trains diligently in the arts and sciences of survival and defense</li>
</ul>
<p>- Prof./Sifu Jay McCoy</p>

<h2 style="text-align: center; ">By: Chris Dias & James DiNovo</h2>
