<mat-card>
  <mat-card-header>
      <mat-card-title>Credits</mat-card-title>
      <mat-card-subtitle>Sources for the assets and information found on this site.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <h3 matLine>Icons</h3>
        <p matLine>By: Google</p>
        <a mat-button color="accent" href="https://material.io/resources/icons/" rel="noreferrer" target="_blank">Source</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h3 matLine>Site Background</h3>
        <p matLine>By: Jeroen Franse</p>
        <a mat-button color="accent" href="https://leaverou.github.io/css3patterns/#weave" rel="noreferrer" target="_blank">Source</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h3 matLine>Home Page Image</h3>
        <p matLine>By: Devanath</p>
        <a mat-button color="accent" href="https://pixabay.com/photos/knight-warrior-horse-soldier-war-2565957/" rel="noreferrer" target="_blank">Source</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h3 matLine>Samurai Image</h3>
        <p matLine>By: Krys Amon</p>
        <a mat-button color="accent" href="https://unsplash.com/photos/eAAR-0iDhic" rel="noreferrer" target="_blank">Source</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h3 matLine>Monk Image</h3>
        <p matLine>By: Vince Gx</p>
        <a mat-button color="accent" href="https://unsplash.com/photos/opCFMhUe_FA" rel="noreferrer" target="_blank">Source</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h3 matLine>Knight Image</h3>
        <p matLine>By: MikesPhotos</p>
        <a mat-button color="accent" href="https://pixabay.com/photos/sword-armor-weapon-medieval-knight-2140940/" rel="noreferrer" target="_blank">Source</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h3 matLine>Viking Image</h3>
        <p matLine>By: axe20</p>
        <a mat-button color="accent" href="https://pixabay.com/photos/ship-sea-boat-the-vikings-2575146/" rel="noreferrer" target="_blank">Source</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h3 matLine>Historical Warrior Facts</h3>
        <p matLine>McCoy, Jay. Introduction to Warrior Studies. (Self-Published), 2008.</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
