<h2>Credits</h2>
<ul>
  <li>http://thepatternlibrary.com/img/ao.gif</li>
  <li>https://pixabay.com/photos/knight-warrior-horse-soldier-war-2565957/</li>
</ul>

<p>A warrior is one who</p>
<ul>
  <li>understands, values and possess honour</li>
  <li>recognizes that her/his abilities carry with them a responsibility</li>
  <li>trains diligently in the arts and sciences of survival and defense</li>
</ul>
<p>- Prof./Sifu Jay McCoy</p>

<h2 style="text-align: center; ">By: Chris Dias & James DiNovo</h2>


<p>A warrior is one who</p>
<ul>
  <li>understands, values and possess honour</li>
  <li>recognizes that her/his abilities carry with them a responsibility</li>
  <li>trains diligently in the arts and sciences of survival and defense</li>
</ul>
<p>- Prof./Sifu Jay McCoy</p><p>A warrior is one who</p>
<ul>
  <li>understands, values and possess honour</li>
  <li>recognizes that her/his abilities carry with them a responsibility</li>
  <li>trains diligently in the arts and sciences of survival and defense</li>
</ul>
<p>- Prof./Sifu Jay McCoy</p><p>A warrior is one who</p>
<ul>
  <li>understands, values and possess honour</li>
  <li>recognizes that her/his abilities carry with them a responsibility</li>
  <li>trains diligently in the arts and sciences of survival and defense</li>
</ul>
<p>- Prof./Sifu Jay McCoy</p><p>A warrior is one who</p>
<ul>
  <li>understands, values and possess honour</li>
  <li>recognizes that her/his abilities carry with them a responsibility</li>
  <li>trains diligently in the arts and sciences of survival and defense</li>
</ul>
<p>- Prof./Sifu Jay McCoy</p><p>A warrior is one who</p>
<ul>
  <li>understands, values and possess honour</li>
  <li>recognizes that her/his abilities carry with them a responsibility</li>
  <li>trains diligently in the arts and sciences of survival and defense</li>
</ul>
<p>- Prof./Sifu Jay McCoy</p><p>A warrior is one who</p>
<ul>
  <li>understands, values and possess honour</li>
  <li>recognizes that her/his abilities carry with them a responsibility</li>
  <li>trains diligently in the arts and sciences of survival and defense</li>
</ul>
<p>- Prof./Sifu Jay McCoy</p><p>A warrior is one who</p>
<ul>
  <li>understands, values and possess honour</li>
  <li>recognizes that her/his abilities carry with them a responsibility</li>
  <li>trains diligently in the arts and sciences of survival and defense</li>
</ul>
<p>- Prof./Sifu Jay McCoy</p><p>A warrior is one who</p>
<ul>
  <li>understands, values and possess honour</li>
  <li>recognizes that her/his abilities carry with them a responsibility</li>
  <li>trains diligently in the arts and sciences of survival and defense</li>
</ul>
<p>- Prof./Sifu Jay McCoy</p>
