

<!--       style="width: 80%; max-width: 1200px; display: block; margin: 0 auto;">-->

<!--Title and author names-->
<mat-card>
  <mat-card-content>
    <h1>Warriorship Quiz</h1>

    <!--Image of the knight-->
    <!--Text along with the begin quiz button-->
    <img mat-card-image src="assets/images/homepage.jpg" alt="A warrior on a horse with a sunset in the background" />

    <h2>What Kind of Warrior Are You?</h2>

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="accent" [routerLink]="['/questions', 1]" routerLinkActive="active">Start Quiz</button>
  </mat-card-actions>
</mat-card>


