

<!--       style="width: 80%; max-width: 1200px; display: block; margin: 0 auto;">-->

<!--Title and author names-->
  <h1>Warriorship & Honour Within World Cultures</h1>

<!--Image of the knight-->
<!--Text along with the begin quiz button-->
<div>
  <img src="../../assets/images/homepage.jpg" alt="A warrior on a horse with a sunset in the background" />
  <h2>What Kind of Warrior Are You?</h2>

  <button mat-raised-button color="accent" [routerLink]="['/questions', 1]" routerLinkActive="active">Start Quiz</button>

</div>




