mat-card {
  max-width: 50%;
  display: block;
  margin: 0 auto 10px;
}

mat-list {
  margin: 0;
  padding: 0;
}

mat-panel-title {
  font-size: 1.2em;
}

mat-panel-description {
  display: flex;
  justify-content: flex-end;
}

p {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

#attribution {
  font-size: 1em;
  text-align: right !important;
}

mat-panel-title, mat-card-title, .highlight {
  color: #ff6e40;
}

@media only screen and (max-width: 980px) {
  mat-card {
    max-width: 90%;
  }
}
