<div [@routeAnimations]="" id="wrapper" *ngIf="question">
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>
        Question #{{question.id}}
      </mat-card-subtitle>
      <mat-card-title>
        {{question.question}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-radio-group name="questionAnswer" class="answer-radio-group container" [(ngModel)]="questionAnswer">
        <div class="answerRows">
          <mat-radio-button class="answer-radio-button" value="0">
            {{question.answers[0]}}
          </mat-radio-button>
          <mat-radio-button class="answer-radio-button" value="1">
            {{question.answers[1]}}
          </mat-radio-button>
        </div>
        <div class="answerRows">
          <mat-radio-button class="answer-radio-button" value="2">
            {{question.answers[2]}}
          </mat-radio-button>
          <mat-radio-button class="answer-radio-button" value="3">
            {{question.answers[3]}}
          </mat-radio-button>
        </div>
      </mat-radio-group>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="saveAnswer()" *ngIf="question.id == 1" mat-raised-button color="accent" id="home" routerLink="/" routerLinkActive="active"><mat-icon>home</mat-icon>Home</button>
      <button *ngIf="question.id > 1" mat-raised-button color="accent" id="back"  [routerLink]="['/questions', question.id - 1]" routerLinkActive="active"><mat-icon>arrow_back</mat-icon>Back</button>
      <button (click)="saveAnswer()" *ngIf="question.id < numOfQuestions" mat-raised-button color="accent" id="next" [routerLink]="['/questions', question.id + 1]" routerLinkActive="active">Next<mat-icon>arrow_forward</mat-icon></button>
      <button (click)="saveAnswer()" *ngIf="question.id == numOfQuestions" mat-raised-button color="accent" id="done" routerLink="/results" routerLinkActive="active">Done<mat-icon>done_all</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
