@import '~@angular/material/theming';
@include mat-core();

#wrapper {
  margin: 0 auto;
  width: 70%;
}

#q0 {
  background-color: mat-color(mat-palette($mat-red, 800));
}

#q1 {
  background-color: mat-color(mat-palette($mat-blue, 800));
}

#q2 {
  background-color: mat-color(mat-palette($mat-green, 800));
}

#q3 {
  background-color: mat-color(mat-palette($mat-yellow, 800));
}

button {
  width: 25%;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}

mat-card-content {
  width: 100%;
}

.answer-button {
  font-size: 1.6em !important;
  height: 100%;
  white-space: normal !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  //margin: 5px;
}


.answer-button > * {
  white-space: normal !important;
}

mat-card {
  margin: 0 auto;
}

mat-progress-bar {
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width:1280px) {
  #wrapper {
    width: 98%;
  }
}
