<div id="container">
  <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>
  <header>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>
          <a mat-icon-button (click)="sidenav.toggle()"><mat-icon>{{sidenav.opened ? 'close' : 'menu'}}</mat-icon></a>
        </span>
        <h1 routerLink="/">Warriorship</h1>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list role="list">
        <mat-list-item routerLink="/" style="height: 0; position: absolute"></mat-list-item><!-- consuming weird highlight of first element behaviour -->
        <a mat-list-item routerLink="/" routerLinkActive (click)="sidenav.close()">
          <mat-icon matListIcon>ballot</mat-icon>
          <h3 matLine>Quiz</h3>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/about" routerLinkActive (click)="sidenav.close()">
          <mat-icon matListIcon>menu_book</mat-icon>
          <h3 matLine>About</h3>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/credits" routerLinkActive (click)="sidenav.close()">
          <mat-icon matListIcon>web</mat-icon>
          <h3 matLine>Credits</h3>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
<!--      <main [@routeAnimations]="prepareRoute(outlet)">-->
<!--        <router-outlet #outlet="outlet"></router-outlet>-->
<!--      </main>-->
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar color="primary" id="footer">
    <span>&copy; 2020 Chris Dias & James DiNovo</span>
  </mat-toolbar>
</div>
